<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <urlCompression doStaticCompression="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="page.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
    </staticContent>
  </system.webServer>
</configuration>